/* Badge com fundo por classe de estágio */
.o_badge.success { background-color: #28a745 !important; color: #fff !important; }
.o_badge.info    { background-color: #17a2b8 !important; color: #fff !important; }
.o_badge.warning { background-color: #ffc107 !important; color: #212529 !important; }
.o_badge.danger  { background-color: #dc3545 !important; color: #fff !important; }
.o_badge.muted   { background-color: #e9ecef !important; color: #495057 !important; }

/** cores extras usadas em stage.ui_class **/
.assistec_roxo        { background: #8f5fe8 !important; color:#fff; }
.assistec_ciano       { background: #00cfd5 !important; color:#fff; }
.assistec_marrom      { background: #795548 !important; color:#fff; }
.assistec_rosa        { background: #e91e63 !important; color:#fff; }
.assistec_verde_limao { background: #a4dd00 !important; color:#000; }
.assistec_cinza_escuro{ background: #424242 !important; color:#fff; }
.assistec_amarelo     { background: #ffc107 !important; color:#000; }

/* novas */
.assistec_azul_escuro   { background:#0d47a1 !important; color:#fff;}
.assistec_verde_escuro  { background:#1b5e20 !important; color:#fff;}
.assistec_preto         { background:#000000 !important; color:#fff;}
.assistec_cinza_claro   { background:#eceff1 !important; color:#000;}
.assistec_vermelho_claro{ background:#ef9a9a !important; color:#000;}
