/* static/src/scss/order_list.scss */
.o_list_view .o_data_row.decoration-info      { background-color: #cfe2ff !important; }
.o_list_view .o_data_row.decoration-primary   { background-color: #d6d8ff !important; }
.o_list_view .o_data_row.decoration-warning   { background-color: #fff3cd !important; }
.o_list_view .o_data_row.decoration-success   { background-color: #d1e7dd !important; }
.o_list_view .o_data_row.decoration-danger    { background-color: #f8d7da !important; }
